body{
    margin: 0px;
    padding: 0px;
    background-color: #775656;
}
nav ul{
    display: flex;
    justify-content: space-around;
    background-color: rgb(57, 85, 163);
    font-size: 40px;
    margin-top: 0px;
    height: 55px;
}
li{
    list-style:none;
}
a{
    text-decoration: none;
    color: white;
    border: solid;
    border-radius: 10px;
}
a:hover{
    color: rgb(158, 75, 147);
}

h1{
    text-align: center;
    color: white;
    margin-top: 250px;
    margin-left: 500px;
    margin-right: 500px;
    border: solid;
    border-radius: 20px;
    border-color: white;
}